<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <ros2_control name="XSHardwareInterface" type="system">

    <hardware>

      <!-- If we are using the actual, physical robot -->
      <xacro:if value="${hardware_type == 'actual'}">
        <plugin>interbotix_xs_ros_control/XSHardwareInterface</plugin>
        <param name="loop_hz">10</param>
        <param name="group_name">arm</param>
       <!--<param name="gripper_name">gripper</param>-->
        <param name="joint_states_topic">joint_states</param>
      </xacro:if>

      <!-- If doing basic simulation of the robot -->
      <xacro:if value="${hardware_type == 'fake'}">
        <plugin>fake_components/GenericSystem</plugin>
      </xacro:if>

      <!-- If simulating the robot in Gazebo Classic -->
      <xacro:if value="${hardware_type == 'gz_classic'}">
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </xacro:if>

    </hardware>

    <joint name="waist">
      <command_interface name="position">
        <param name="min">"${waist_limit_lower}"</param>
        <param name="max">"${waist_limit_upper}"</param>
      </command_interface>
      <state_interface name="position"/>
    </joint>

  </ros2_control>

</robot>
