# $ python3 -m pip3 install -r requirements.txt

urdfpy
networkx>=3.2.1
numpy
scipy>=1.2.0
tqdm
dm_env
opencv-python
pyquaternion==0.9.9
pyyaml==6.0
rospkg==1.5.0
pexpect==4.8.0
mujoco==2.3.3
dm_control==1.0.9
matplotlib==3.7.1
einops==0.6.0
packaging==23.0
h5py==3.8.0
ipython==8.12.0
